# Environment Variables
# PostgreSQL Database Configuration
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=your_password_here
DB_NAME=identity-platform


# Docker PostgreSQL Configuration (for docker-compose)
POSTGRES_DB=identity-platform
POSTGRES_PASSWORD=postgres